.top{
    background-color: #CCD5AE;
}
h1{
    font-family: "Libre Baskerville", serif;
}
.about{
    background-color: #E0E5B6;
}
.feature{
    background-color: #E0E5B6;
}
.card{
    background-color: antiquewhite;
  
}
.w{
    gap: 30px;
}
.feature{
    background-color: antiquewhite;
}
.education{
    background-color: #E0E5B6;
}
.footer{
    background-color: #FEFAE0;
}
